flows_rr-iot-pi-clark.json
[{"id":"21594a0d.2eebc6","type":"tab","label":"Flow 1"},{"id":"9b40c4dd.63f9a8","type":"tab","label":"Stream Temp and Hum"},{"id":"64ac0bb6.09e774","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"nodeJSWay","name":""},{"id":"f0175efa.0fe8a","type":"websocket-listener","z":"","path":"/ws/sense","wholemsg":"false"},{"id":"a92067fb.4b4f98","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":100,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5d902a46.e184b4","type":"ui_group","z":"","name":"Trending","tab":"8ee97180.61b3b","order":2,"disp":false,"width":"6"},{"id":"8ee97180.61b3b","type":"ui_tab","z":"","name":"Home Monitoring","icon":"dashboard"},{"id":"45da72ec.f3ca2c","type":"ui_group","z":"","name":"Current Measures","tab":"8ee97180.61b3b","order":1,"disp":true,"width":"6"},{"id":"6dcb585a.2abeb8","type":"debug","z":"21594a0d.2eebc6","name":"","active":true,"console":"false","complete":"true","x":806.10009765625,"y":96.20001983642578,"wires":[]},{"id":"3f8bbc3b.a4a244","type":"rpi-dht22","z":"21594a0d.2eebc6","name":"","topic":"rpi-dht11","dht":"11","pintype":"1","pin":"12","x":233.10004043579102,"y":175.80005836486816,"wires":[["e0077b95.57c1f8"]]},{"id":"757349db.e534e8","type":"inject","z":"21594a0d.2eebc6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106.10003662109375,"y":128.80002784729004,"wires":[["3f8bbc3b.a4a244"]]},{"id":"e0077b95.57c1f8","type":"function","z":"21594a0d.2eebc6","name":"Convert to Fahrenheit","func":"let celsius = msg.payload\nmsg.payload = (celsius*1.8) + 32\nmsg.temperature = msg.payload\ndelete msg.payload\nmsg.humidity = msg.humidity*1\nreturn msg;","outputs":1,"noerr":0,"x":579.1000671386719,"y":108.60000801086426,"wires":[["6dcb585a.2abeb8"]]},{"id":"a03f9069.f19a9","type":"http in","z":"21594a0d.2eebc6","name":"","url":"/hello","method":"get","swaggerDoc":"","x":132,"y":294,"wires":[["e03fb171.5fe5b"]]},{"id":"e03fb171.5fe5b","type":"template","z":"21594a0d.2eebc6","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","x":318,"y":299,"wires":[["206ac5b6.50b49a"]]},{"id":"206ac5b6.50b49a","type":"http response","z":"21594a0d.2eebc6","name":"","x":451.0000305175781,"y":294.3999938964844,"wires":[]},{"id":"61d37386.7f6b7c","type":"http in","z":"21594a0d.2eebc6","name":"","url":"/hello-query","method":"get","swaggerDoc":"","x":112.00002861022949,"y":402.0000247955322,"wires":[["c9b52292.76742"]]},{"id":"c9b52292.76742","type":"template","z":"21594a0d.2eebc6","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n        <p>... and {{req.query.name}}</p>\n    </body>\n</html>","x":378.0000400543213,"y":407.00003576278687,"wires":[["4e508ff2.9f00c"]]},{"id":"4e508ff2.9f00c","type":"http response","z":"21594a0d.2eebc6","name":"","x":546.0000648498535,"y":406.4000358581543,"wires":[]},{"id":"4f17b4b7.b5eabc","type":"comment","z":"21594a0d.2eebc6","name":"Get Temperature & Humidity Data","info":"","x":333.1000061035156,"y":57,"wires":[]},{"id":"38de4862.8125b8","type":"comment","z":"21594a0d.2eebc6","name":"HTTP Endpoint","info":"","x":285.10001373291016,"y":234.00003242492676,"wires":[]},{"id":"9be1b543.88e058","type":"comment","z":"21594a0d.2eebc6","name":"HTTP Endpoint using Query Parameters","info":"http://192.168.1.235:1880/hello-name=Nick\n- use req.query.name to change html","x":260.00003814697266,"y":359.000036239624,"wires":[]},{"id":"a05ad6bc.0330d8","type":"http in","z":"21594a0d.2eebc6","name":"","url":"/hello-query/:name","method":"get","swaggerDoc":"","x":140,"y":510,"wires":[["c2f6de1a.ed392"]]},{"id":"c2f6de1a.ed392","type":"template","z":"21594a0d.2eebc6","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n        <p>... and {{req.params.name}}</p>\n    </body>\n</html>","x":387.0000114440918,"y":510.0000629425049,"wires":[["afda59d6.8bafd8"]]},{"id":"afda59d6.8bafd8","type":"http response","z":"21594a0d.2eebc6","name":"","x":554.000036239624,"y":514.4000110626221,"wires":[]},{"id":"4cbc133d.e5b35c","type":"comment","z":"21594a0d.2eebc6","name":"HTTP Endpoint using URL Parameters","info":"http://192.168.1.235:1880/hello-query/Nick\n- use req.params.name to change html","x":258.00000953674316,"y":467.0000114440918,"wires":[]},{"id":"f8697c15.23d0d","type":"http in","z":"21594a0d.2eebc6","name":"","url":"/hello-headers","method":"get","swaggerDoc":"","x":126,"y":618.7999877929688,"wires":[["8605c6b7.9d2298"]]},{"id":"8605c6b7.9d2298","type":"template","z":"21594a0d.2eebc6","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n        <p>... and {{req.headers.host}}</p>\n        <p>... and {{req.headers.connection}}</p>\n        <p>... and {{req.headers.cache-control}}</p>\n        <p>... and {{req.headers.upgrade-insecure-requests}}</p>\n        <p>... and {{req.headers.user-agent}}</p>\n    </body>\n</html>","x":383.0000114440918,"y":618.8000507354736,"wires":[["c2efc98d.09a878"]]},{"id":"c2efc98d.09a878","type":"http response","z":"21594a0d.2eebc6","name":"","x":550.000036239624,"y":623.1999988555908,"wires":[]},{"id":"5c93b335.79834c","type":"comment","z":"21594a0d.2eebc6","name":"HTTP Endpoint using URL Headers","info":"http://192.168.1.235:1880/hello-headers/Nick\n- use req.headers (host, connection, cache-control, upgrade-insecure-requests, or user-agent)\n- to change html","x":244.00000953674316,"y":575.7999992370605,"wires":[]},{"id":"db48945f.3d1f08","type":"http in","z":"21594a0d.2eebc6","name":"","url":"/hello-data","method":"get","swaggerDoc":"","x":127.00002861022949,"y":783.5999870300293,"wires":[["f1a09533.888218"]]},{"id":"795deb9f.7b0e14","type":"template","z":"21594a0d.2eebc6","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n        <p>... and {{timestamp}}</p>\n    </body>\n</html>","x":520.0000648498535,"y":773.6000480651855,"wires":[["c6e55193.5b11a"]]},{"id":"c6e55193.5b11a","type":"http response","z":"21594a0d.2eebc6","name":"","x":659.0000648498535,"y":778,"wires":[]},{"id":"400b70dd.7454d","type":"comment","z":"21594a0d.2eebc6","name":"Use Data From another flow","info":"http://192.168.1.235:1880/hello-data\n- set flow context = msg.payload of first flow\n- second flow set msg.context = flow context from first flow","x":242.00001525878906,"y":684.5999965667725,"wires":[]},{"id":"edbb430b.6c336","type":"inject","z":"21594a0d.2eebc6","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":135.10000610351562,"y":724.3999938964844,"wires":[["21a81a4e.681516"]]},{"id":"21a81a4e.681516","type":"change","z":"21594a0d.2eebc6","name":"","rules":[{"t":"set","p":"timestamp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":356.1000061035156,"y":722.3999977111816,"wires":[[]]},{"id":"f1a09533.888218","type":"change","z":"21594a0d.2eebc6","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"timestamp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":338.1000061035156,"y":781.3999996185303,"wires":[["795deb9f.7b0e14"]]},{"id":"c28a4c3.4bf03b","type":"http in","z":"21594a0d.2eebc6","name":"","url":"/hello-json","method":"get","swaggerDoc":"","x":118.00003623962402,"y":932.5999908447266,"wires":[["4b6f058b.c43f6c"]]},{"id":"4b6f058b.c43f6c","type":"template","z":"21594a0d.2eebc6","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"Hello\": \"World\" }","x":288.000057220459,"y":938.600004196167,"wires":[["88b1fb71.3e9808"]]},{"id":"8ed218a3.623238","type":"http response","z":"21594a0d.2eebc6","name":"","x":650.000072479248,"y":927.0000038146973,"wires":[]},{"id":"41906804.387cc8","type":"comment","z":"21594a0d.2eebc6","name":"Use JSON","info":"http://192.168.1.235:1880/hello-json\n- page written in JSON\n- set msg.headers to JSON.{}","x":202.99998664855957,"y":870.5999851226807,"wires":[]},{"id":"88b1fb71.3e9808","type":"change","z":"21594a0d.2eebc6","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450.10001373291016,"y":942.4000034332275,"wires":[["8ed218a3.623238"]]},{"id":"e615bb89.8546c8","type":"http in","z":"21594a0d.2eebc6","name":"","url":"/hello-file","method":"get","swaggerDoc":"","x":104,"y":1069.199951171875,"wires":[["d666e75a.2da2d8"]]},{"id":"3f6db274.87640e","type":"http response","z":"21594a0d.2eebc6","name":"","x":710.0000495910645,"y":1042.599983215332,"wires":[]},{"id":"39e08147.a37bce","type":"comment","z":"21594a0d.2eebc6","name":"Serve Local File","info":"http://192.168.1.235:1880/hello-file\n- set file to a buffer if its something like an image\n- set the content-type of the headers to \"image/png\" if use image","x":218.99995040893555,"y":1007.1999454498291,"wires":[]},{"id":"a206c6ae.bd8308","type":"change","z":"21594a0d.2eebc6","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/png","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":546.1000137329102,"y":1052.9999828338623,"wires":[["3f6db274.87640e"]]},{"id":"d666e75a.2da2d8","type":"file in","z":"21594a0d.2eebc6","name":"","filename":"/home/pi/Pictures/GS.png","format":"","x":333.1000061035156,"y":1064.1999826431274,"wires":[["a206c6ae.bd8308"]]},{"id":"7c0c3104.da1d7","type":"http in","z":"21594a0d.2eebc6","name":"","url":"/hello-raw","method":"post","swaggerDoc":"","x":110,"y":1200,"wires":[["f37d843f.b1f308"]]},{"id":"2749a896.662d48","type":"http response","z":"21594a0d.2eebc6","name":"","x":561.0000686645508,"y":1183.4000358581543,"wires":[]},{"id":"95f80592.641268","type":"comment","z":"21594a0d.2eebc6","name":"Post Raw Data","info":"http://192.168.1.235:1880/hello-raw\n- set up html to handle payload which will be the POST\n- post is made during curl","x":214.99995040893555,"y":1137.999994277954,"wires":[]},{"id":"f37d843f.b1f308","type":"template","z":"21594a0d.2eebc6","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello {{payload}}</h1>\n    </body>\n</html>","x":364,"y":1188,"wires":[["2749a896.662d48"]]},{"id":"5c9ebe6b.d773","type":"http in","z":"21594a0d.2eebc6","name":"","url":"/hello-cookie","method":"get","swaggerDoc":"","x":114,"y":1317,"wires":[["46bb56dc.836a88"]]},{"id":"2c504368.d73dbc","type":"http response","z":"21594a0d.2eebc6","name":"","x":788.0000686645508,"y":1301.3999652862549,"wires":[]},{"id":"670d0313.7a70cc","type":"comment","z":"21594a0d.2eebc6","name":"Work with Cookies","info":"http://192.168.1.235:1880/hello-cookie","x":228.99995040893555,"y":1254.999994277954,"wires":[]},{"id":"bcdb4cc7.c96e3","type":"template","z":"21594a0d.2eebc6","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Cookies</h1>\n        <p></p>\n        <p></p><a href=\"/hello-cookie/add\">Add a cookie</a> &bull;\n        <a href=\"/hello-cookie/clear\">Clear cookies</a></p>\n        <pre>{{payload}}</pre>\n    </body>\n</html>","x":516,"y":1306.9999294281006,"wires":[["2c504368.d73dbc"]]},{"id":"5e6de8bd.c2f6b8","type":"http in","z":"21594a0d.2eebc6","name":"","url":"/hello-cookie/add","method":"get","swaggerDoc":"","x":143.10000610351562,"y":1376.6000671386719,"wires":[["9227c945.71e0e8"]]},{"id":"18527d2b.c567e3","type":"http in","z":"21594a0d.2eebc6","name":"","url":"/hello-cookie/clear","method":"get","swaggerDoc":"","x":133.10000610351562,"y":1426.6000671386719,"wires":[["ca9626fc.9010a8"]]},{"id":"46bb56dc.836a88","type":"function","z":"21594a0d.2eebc6","name":"Format Cookies","func":"msg.payload = JSON.stringify(msg.req.cookies, null, 4)\nreturn msg;","outputs":1,"noerr":0,"x":346.00000762939453,"y":1313.7998685836792,"wires":[["bcdb4cc7.c96e3"]]},{"id":"9227c945.71e0e8","type":"function","z":"21594a0d.2eebc6","name":"Add Cookies","func":"msg.cookies = {};\nmsg.cookies[\"demo-\"+(Math.floor(Math.random()*1000))] = Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":347.00000762939453,"y":1371.7998676300049,"wires":[["bff08983.258ac8"]]},{"id":"ca9626fc.9010a8","type":"function","z":"21594a0d.2eebc6","name":"Clear Cookies","func":"// Find demo cookies and clear them\nvar cookieNames = Object.keys(msg.req.cookies).filter(function(cookieName) { \n    return /^demo-/.test(cookieName);\n    \n});\nmsg.cookies = {};\n\ncookieNames.forEach(function(cookieName) {\nmsg.cookies[cookieName] = null;\n    \n});\n\nreturn msg;","outputs":1,"noerr":0,"x":356,"y":1428.7999267578125,"wires":[["bff08983.258ac8"]]},{"id":"bff08983.258ac8","type":"change","z":"21594a0d.2eebc6","name":"Redirect to /hello-cookie","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"},{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/hello-cookie","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":593.1000671386719,"y":1382.9999685287476,"wires":[["2c504368.d73dbc"]]},{"id":"1f937fae.a464a","type":"debug","z":"9b40c4dd.63f9a8","name":"","active":true,"console":"false","complete":"payload","x":751.0001258850098,"y":92.00001811981201,"wires":[]},{"id":"2f4d0617.dcbbaa","type":"rpi-dht22","z":"9b40c4dd.63f9a8","name":"","topic":"rpi-dht11","dht":"11","pintype":"1","pin":"12","x":296.00000762939453,"y":153.60004425048828,"wires":[["f7c93ce2.d8c3c"]]},{"id":"f7c93ce2.d8c3c","type":"function","z":"9b40c4dd.63f9a8","name":"Convert to Fahrenheit","func":"let celsius = msg.payload\ncelsius = (celsius*1.8) + 32\nlet humidity = msg.humidity*1\nlet time = new Date();\ntime = time.toString();\nmsg.payload = {time: time, temperature: celsius, humidity: humidity}\nreturn msg","outputs":1,"noerr":0,"x":508.00006103515625,"y":154.40000915527344,"wires":[["9e019da0.875a9","1d11550a.fdc11b","cd5bf22e.e0462"]]},{"id":"7794196a.507788","type":"comment","z":"9b40c4dd.63f9a8","name":"Get Temperature & Humidity Data","info":"","x":347.9999694824219,"y":24.79998016357422,"wires":[]},{"id":"9e019da0.875a9","type":"mongodb out","z":"9b40c4dd.63f9a8","mongodb":"64ac0bb6.09e774","name":"Temp & Humidity data","collection":"senseMeasure","payonly":true,"upsert":false,"multi":false,"operation":"store","x":780.1001205444336,"y":136.0000114440918,"wires":[]},{"id":"a0f89e48.dd9f5","type":"catch","z":"9b40c4dd.63f9a8","name":"","scope":null,"x":578.1000366210938,"y":24.800003051757812,"wires":[[]]},{"id":"71561497.db42dc","type":"mongodb in","z":"9b40c4dd.63f9a8","mongodb":"64ac0bb6.09e774","name":"senseMeasure","collection":"senseMeasure","operation":"find","x":410.1000061035156,"y":217.00003051757812,"wires":[["9209be90.6df64"]]},{"id":"c74bc121.018ff","type":"http in","z":"9b40c4dd.63f9a8","name":"","url":"/sense","method":"get","swaggerDoc":"","x":82.10000610351562,"y":99.80003547668457,"wires":[["d7abf17b.28541"]]},{"id":"d21b4b6.69971b8","type":"function","z":"9b40c4dd.63f9a8","name":"","func":"var msg = {'limit': 1, 'skip': 0}\nmsg.sort = {_id:-1}\nreturn msg;","outputs":1,"noerr":0,"x":248.00001525878906,"y":216.00003051757812,"wires":[["71561497.db42dc"]]},{"id":"21cb710.efd8f9","type":"inject","z":"9b40c4dd.63f9a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":94,"y":160,"wires":[["2f4d0617.dcbbaa"]]},{"id":"9949f81a.66b608","type":"http response","z":"9b40c4dd.63f9a8","name":"","x":516,"y":83,"wires":[]},{"id":"cf798c44.30867","type":"inject","z":"9b40c4dd.63f9a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":88,"y":224,"wires":[["d21b4b6.69971b8"]]},{"id":"9209be90.6df64","type":"websocket out","z":"9b40c4dd.63f9a8","name":"","server":"f0175efa.0fe8a","client":"","x":424.00001525878906,"y":290.0000009536743,"wires":[]},{"id":"d7abf17b.28541","type":"template","z":"9b40c4dd.63f9a8","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n    <script src=\"https://cdn.plot.ly/plotly-latest.min.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js\"></script>\n    <title>Sense It!</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        // console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"sense\",\"ws/sense\");\n        let temp = [];\n        let time = [];\n        function wsConnect() {\n            // console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var data = msg.data;\n                var jsonData = JSON.parse(data)\n                console.log(jsonData)\n                temp.push(jsonData[0].temperature)\n                time.push(jsonData[0].time)\n            \n                let plotData = [\n            {\n                x: time,\n                y: temp,\n                line: {shape: 'spline'},\n                type: 'scatter'\n            }\n            ]\n            if(time.length < 1) {\n                // Do Nothing\n            } else if(time.length == 1) {\n                Plotly.newPlot('myDiv', plotData);\n            } else {\n                Plotly.update('myDiv', plotData)\n            }\n        // Plotly.newPlot('myDiv', plotData);\n                \n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                // console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Sense</h1>\n        <div id=\"messages\"></div>\n\t<div id=\"myDiv\" style=\"width:600px;height:250px;\"></div>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n\n","x":308,"y":96,"wires":[["9949f81a.66b608"]]},{"id":"764aebe6.89b514","type":"websocket in","z":"9b40c4dd.63f9a8","name":"","server":"f0175efa.0fe8a","client":"","x":105,"y":275,"wires":[[]]},{"id":"e501fbb7.80a7e8","type":"ui_chart","z":"9b40c4dd.63f9a8","name":"Temperature & Humidity Time Series","group":"5d902a46.e184b4","order":0,"width":"6","height":"12","label":"chart","chartType":"line","legend":"true","xformat":"Y-M-D","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#ff6666","#6c6cff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":972.1001243591309,"y":310.60000228881836,"wires":[[],[]]},{"id":"1d11550a.fdc11b","type":"function","z":"9b40c4dd.63f9a8","name":"","func":"let m = {};\nlet m1 = {};\n\nm.payload = msg.payload.temperature\nm.topic = \"Temperature\"\n\nm1.payload = msg.payload.humidity\nm1.topic = \"Humidity\"\n\nreturn [m, m1];","outputs":"2","noerr":0,"x":732.1000480651855,"y":277.79999220371246,"wires":[["e501fbb7.80a7e8"],["e501fbb7.80a7e8"]]},{"id":"ca0a85c6.b82a78","type":"ui_gauge","z":"9b40c4dd.63f9a8","name":"Temperature Gauge","group":"45da72ec.f3ca2c","order":2,"width":"6","height":"6","gtype":"gage","title":"Gauge","label":"degrees Fahrenheit","format":"{{value | number:1}}°F","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"75","seg2":"80","x":921.100025177002,"y":189.60000133514404,"wires":[]},{"id":"cd5bf22e.e0462","type":"function","z":"9b40c4dd.63f9a8","name":"","func":"let m = {};\nlet m1 = {};\n\nm.payload = msg.payload.temperature\nm.topic = \"Temperature\"\n\nm1.payload = msg.payload.humidity\nm1.topic = \"Humidity\"\n\nreturn [m, m1];","outputs":"2","noerr":0,"x":729.0000343322754,"y":239.59999656677246,"wires":[["ca0a85c6.b82a78"],["afcf92e8.31d8"]]},{"id":"afcf92e8.31d8","type":"ui_gauge","z":"9b40c4dd.63f9a8","name":"Humidity Gauge","group":"45da72ec.f3ca2c","order":3,"width":"6","height":"5","gtype":"gage","title":"Gauge","label":"Percent","format":"{{value | number:1}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"75","seg2":"85","x":909.0000247955322,"y":231.4000015258789,"wires":[]}]